﻿@{ ViewData["Title"] = "Home"; }
@inject Test.Repository.ICatRepository _catRepository
<section class="jumbotron text-center">
    <div class="py-5 bg-light">
        <div class="container">
            <h1>Welcome to Happy Cat</h1>
            <p class="lead text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            @foreach (var item in await _catRepository.GetAllCats())
            {
                <h2>@item.Name</h2><br />
            }
            <h3 class="h3">Top cats</h3>
            @await Component.InvokeAsync("TopCats", new { count = 3 })
            <vc:top-cats count="3"></vc:top-cats>
        </div>
    </div>
</section>
