﻿﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        Hello {{UserName}}, <br />
        Thank you for using the Happy Cat web application. <br />
        You have created a new account on Happy Cat application. <br /> <br />
        Click on the following link to verify your email id. <br /><br />

        <a href="{{Link}}">Verify email</a>
</body>
</html>