﻿@model CatModel
@inject Microsoft.AspNetCore.Identity.SignInManager<HappyCat.Models.ApplicationUser> _signInManager
<div class="card h-100 shadow-sm">
    <div class="card-text bg-light" style="z-index:2;">
        @if (User.IsInRole("Admin")){
             <a asp-route="catDeleteRoute" asp-route-id="@Model.Id" class="float-right mr-2" style="text-decoration:none">X</a>
        }     
    </div>
    <div class="card-img-top">
        <img class="img-fluid" src="@Model.CoverImageUrl">
    </div>
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <small class="text-muted">@Model.Type</small>
        <p class="card-text">@Model.Info</p>
        <a asp-route="catDetailsRoute" asp-route-id="@Model.Id" class="stretched-link"></a>
    </div>
</div>