﻿@model Test.Models.CatModel
@{
    ViewData["Title"] = "Add new cat";
}
<div class="container">
    <h3 class="display-4">Add new cat</h3>
    <hr />
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success" role="alert">
            <p>New cat has been successfully added.</p>
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" asp-action="AddNewCat" asp-controller="Cat">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="form-control" id="breeds" asp-items="new SelectList(ViewBag.Breeds)">
                        <option selected value="">Cat type</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoverPhoto" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="CoverPhoto" type="file" class="custom-file-input" id="customFile" onchange="document.getElementById('image').src = window.URL.createObjectURL(this.files[0]); this.nextElementSibling.innerText = this.files[0].name.substring(0,23)">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <img class="mt-3" id="image" alt="cover photo" width="200" height="200" src="~/cats/cover/cat_sample.png" />
                    <span asp-validation-for="CoverPhoto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GalleryFiles" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="GalleryFiles" id="file" multiple class="custom-file-input">
                        <label class="custom-file-label">Choose file</label>      
                    </div>
                    <span asp-validation-for="GalleryFiles" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Info" class="control-label"></label>
                    <textarea asp-for="Info" class="form-control" style="resize:none; height:auto" rows="5"> </textarea>
                    <span asp-validation-for="Info" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileLabel = $(this).next('.custom-file-label');
            var files = $(this)[0].files;
            if (files.length > 1) {
                fileLabel.html(files.length + ' files selected');
            }
            else if (files.length == 1) {
                fileLabel.html(files[0].name);
            }
        });
    });
</script>