﻿@model IEnumerable<CatModel>
@inject Microsoft.AspNetCore.Identity.SignInManager<HappyCat.Models.ApplicationUser> _signInManager
@{
    ViewData["Title"] = "All cats";
}
<style>
    .card {
        border-radius: 4px;
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }

    .img-fluid {
        width: 100%;
        object-fit: cover;
        height: 240px;
    }

    .btn:hover {
        filter: brightness(0.9);
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        border-radius: 15px;
        font-size: 30px;
        text-align: center;
        right: 70px;
        bottom: 80px;
        position: fixed;
        z-index: 2;
        cursor: pointer;
        border-radius: 7px;
    }
</style>
<div class="container">
    <h3 class="display-4">All cats</h3>
    <div class="row">

        @foreach (var cat in Model)
        {
            <div class="col-md-4">
                <partial name="_catCard" model="@cat" />
            </div>
        }

    </div>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-primary btn-circle btn-xl" asp-controller="Cat" asp-action="AddNewCat">+</a>
    }

</div>
